<div class="nav-component">
  <nav class="navbar">
    <div class="logo">
      <img width="75" src="../assets/logo.png" alt="logo-hotel" />
      <h1 class="name-hotel">l’ensoleillâtes</h1>
    </div>
    <div class="nav-opt">
      <ul class="list-options">
        <a href="#"
          ><li class="accueil">
            Accueil
            <div class="underline"></div>
          </li>
        </a>
        <a href="#"
          ><li class="reserver">
            Réserver
            <div class="underline"></div>
          </li>
        </a>
        <a href="#"
          ><li class="resto">
            Restaurant
            <div class="underline"></div>
          </li>
        </a>
        <a href="#"
          ><li class="contact">
            Contact
            <div class="underline"></div>
          </li>
        </a>
      </ul>
    </div>
  </nav>

  <div class="div-name">
    <app-meteo></app-meteo>
  </div>
</div>
