.nav-component {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: black 2px solid;
    align-items: center;

    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        .logo {
            margin-left: 10px;
        }

        .nav-opt {
            display: flex;

            .list-options {
                display: flex;
                list-style: none;
                a {
                    text-decoration: none;

                    li {
                        padding: 20px;
                        color: black;
                        &:hover {
                            background-color: black;
                            color: white;
                            text-decoration: none;
                        }
    
                    }
                }

               
            }
        }
    }

    .div-name {

        .name {
            margin-right: 15px;
        }
    }
}