<div class="nav-component">
    <nav class="navbar">
        <div class="logo">
            <img
                width="200"
                height="105"
                src="/assets/logo.jpg"
                alt="logo-hotel"
            >
        </div>
        <div class="nav-opt">
            <ul class="list-options">
                <a [routerLink]="['/accueil']">
                    <li class="accueil">
                        Accueil
                        <div class="underline"></div>
                    </li>
                </a>
                <a [routerLink]="['/reserver']">
                    <li class="reserver">
                        Réserver
                        <div class="underline"></div>
                    </li>
                </a>
                <a [routerLink]="['/resto']">
                    <li class="resto">
                        Restaurant
                        <div class="underline"></div>
                    </li>
                </a>
                <a [routerLink]="['/contact']">
                    <li class="contact">
                        Contact
                        <div class="underline"></div>
                    </li>
                </a>
            </ul>
        </div>
    </nav>
    <div class="div-name">
        <app-meteo></app-meteo>
    </div>
</div>
