.text {
  position: absolute;
  bottom: 4%;
  right: 5%;
  width: 400px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: black;
  text-align: justify;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  background-color: rgba($color: white, $alpha: 0.4);
  backdrop-filter: blur(8px);
  padding: 1rem 2rem;
  border-radius: 25px;
  transform: scale(1);
  transition: transform 0.75s ease-in-out;
  cursor: none;
  &:hover {
    transform: scale(1.1);
    transition: transform 0.75s ease-in-out;
  }
}
