@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
* {
  font-family: Shantell Sans;
}

.app {
  background-image: url(/assets/hotel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
