@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap");
* {
  font-family: Shantell Sans;
}

.app {
  background: url("../assets/hotel.jpg") fixed center center no-repeat;
  min-height: 100vh;
}
